<div class="login-page animated fadeIn fast">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-7 col-lg-5 col-xl-3">
        <!-- /.login-logo -->
        <div class="card card-outline card-succes borde-top">
          <div class="card-header text-center">
            <p class="h4 text-uppercase p-3">SISTEMA DE REGISTRO DE INGRESO DE PERSONAS</p>
          </div>
          <div class="card-body">
            <p class="login-box-msg text-uppercase h5" style="color: rgb(8, 68, 136);">Iniciar sesión</p>

            <form class="form-horizontal form-material" id="loginform" autocomplete="off" [formGroup]="this.formulario"
              (ngSubmit)="login()">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="* usuario" formControlName="user">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="* contraseña" formControlName="password">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-primary btn-block">INICIAR SESIÓN</button>

            </form>
          </div>
          <div class="card-footer text-center">
            GOBERNACIÓN DE COCHABAMBA
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>
