<div class="animated fadeIn">
  <header>
    <img style="width: 20%;" src="../../../assets/dist/img/imgLogo2.png" alt="JackBolivia2000">
    <h1>La prueba se realizó con éxito y sera respondida a la brevedad</h1>
    <p>TEST VOCACIONAL JAC BOLIVIA 2000</p>
  </header>
  <main>
    <section class="mensaje">
      " Si deseas obtener más información sobre nuestros servicios o explorar otras oportunidades emocionantes, te
      invitamos a visitar nuestra página web en: "
      <p class="display-4"> <a class="btn btn-lg btn-primary"
          href="https://jacbolivia2000.com">https://jacbolivia2000.com</a></p>
    </section>
  </main>
</div>
