<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card p-3">
      <div class="card-body">
        <div class="creacion ">
          <div class="titulos-tabla">
            <h4>Lista de usuarios</h4>
            <p>Instituto JAC Bolivia 2000</p>
          </div>

          <!-- btn-crear-nuevos-usuarios -->
          <div class="btn-crear-usuario mb-2 mb-lg-0">
            <button type="button" class="btn btn-primary text-uppercase" data-toggle="modal"
              data-target="#myModal_crear_servidor" (click)="this.borrarFormulario(formDirective)"><i
                class="fa fa-user-plus"></i> Crear usuario</button>
          </div>
        </div>
        <hr>
        <!-- Buscar -->
        <div class="form-group mt-5 d-flex flex-column gap-1">
          <!-- <label for="buscar">Buscar:</label> -->
          <input type="email" pInputText class="example-full-width p-inputtext-sm" id="buscar"
            placeholder="Ingrese su busqueda" [(ngModel)]="this.searchTerm" #texto
            (keyup)="searchTerm$.next(texto.value)">
        </div>

        <!-- Loading -->
        <!-- <div *ngIf="this.cargando" class="row animated fadeIn fast">
          <div class="col-12">
            <div class="alert alert-secondary text-center">
              <h4 class="alert-heading">Cargando</h4>
              <i class="fas fa-spin fa-refresh fa-2x"></i>
              <p class="mb-0">Por favor espere</p>
            </div>
          </div>
        </div> -->

        <!-- Tabla de datos -->
        <!-- <div *ngIf="!this.cargando" class="fadeIn fast table-shadow"> -->
        <div class="table-responsive">
          <table class="table">
            <thead class="table-header">
              <tr class="table-header__encabezado">
                <th style="width: 2%;">Codigo</th>
                <th style="width: 20%;">Nombres</th>
                <th style="width: 20%;">Cargo</th>
                <th style="width: 20%;">Usuario</th>
                <th style="width: 10px;">Rol</th>
                <th style="width: 10px;">Estado</th>
                <th style="width: 18px;">Acciones</th>
              </tr>
            </thead>
            <tbody class="table-cuerpo">
              <tr
                *ngFor="let item of this.dataServidores | paginate: { itemsPerPage: this.per_page, currentPage: this.p, totalItems:this.total, id: 'paginate_one' }"
                class=" table-cuerpo__datos">
                <td>{{ item.id }}</td>
                <td>{{ item.nombres }}</td>
                <td>{{ item.cargo }}</td>
                <td>{{ item.user }}</td>
                <td>{{ item.rol }}</td>
                <td>
                  <span *ngIf="item.estado === 'Habilitado'; else notHabilitado"
                    class="p-1 bg-success text-white rounded">{{item.estado}}</span>
                  <ng-template #notHabilitado>
                    <span class="p-1 bg-danger text-white rounded">{{item.estado}}</span>
                  </ng-template>
                </td>
                <td>
                  <a class="text-warning btn-margen puntero" (click)="this.modificarServidoresPublicos(item.id)">
                    <i class="fas fa-pen"></i>
                  </a>

                  <a class="ml-4 text-danger puntero"
                    (click)="this.destroyServidorPublico(item.id,item.nombres,item.estado)">
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- Paginación de datos -->
          <hr>
          <div class="paginacion d-flex flex-nowrap justify-content-end pr-3">
            <pagination-controls class="my-pagination" (pageChange)="this.pageChange($event)" previousLabel="Anterior"
              nextLabel="Siguiente" [maxSize]="this.per_page" id="paginate_one">
            </pagination-controls>
            <p class="pt-1 paginacion__cantitems">Items: {{ this.total }}</p>
          </div>
        </div>
        <!-- </div> -->
        <!-- FIN Tabla de datos -->
      </div>
    </div>
  </div>
</div>

<!-- Modal crear nuevos usuarios -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;"
  aria-hidden="true" id="myModal_crear_servidor">

  <form #formDirective="ngForm" [formGroup]="this.formulario" class="ps-4 pt-4 pe-4 pb-0" (ngSubmit)="submit()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header table-header--modal contenedor-header">
          <h5 class="modal-title text-white text-uppercase" id="myLargeModalLabel">Crear una cuenta de usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">

          <!-- Seccion 1 -->
          <div class="row">

            <div class="col-12">

              <!-- Nombre completo -->
              <div class="form-group d-flex flex-column gap-1">
                <label for="nombres">Nombre completo:<span class="text-danger">*</span></label>
                <input type="text" pInputText class="p-inputtext-sm" id="nombres"
                  placeholder="Ingrese su nombre completo" formControlName="nombres">
                <!-- Validacion -->
                <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                <span *ngIf="this.nombres?.invalid && (this.nombres?.dirty || this.nombres?.touched)" class="texto-tam">
                  <!-- Errores con expresiones regulares -->
                  <div *ngIf="this.nombres?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                    Este campo es requerido.
                  </div>
                  <div *ngIf="this.nombres?.hasError('pattern')" class="animated fadeIn fast text-danger" id="">
                    Este campo solo acepta letras.
                  </div>
                  <div *ngIf="this.nombres?.hasError('maxlength')" class="animated fadeIn fast text-danger" id="">
                    Este campo solo acepta solo 50 letras.
                  </div>
                </span>
              </div>

              <!-- Nombre completo -->
              <div class="form-group d-flex flex-column gap-1">
                <label for="cargo">Cargo:<span class="text-danger">*</span></label>
                <input type="text" pInputText class="p-inputtext-sm" id="cargo" placeholder="Ingrese un cargo"
                  formControlName="cargo">
                <!-- Validacion -->
                <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                <span *ngIf="this.cargo?.invalid && (this.cargo?.dirty || this.cargo?.touched)" class="texto-tam">
                  <!-- Errores con expresiones regulares -->
                  <div *ngIf="this.cargo?.hasError('required')" class="animated fadeIn fast text-danger">
                    Este campo es requerido.
                  </div>
                  <div *ngIf="this.cargo?.hasError('pattern')" class="animated fadeIn fast text-danger">
                    Este campo solo acepta letras.
                  </div>
                  <div *ngIf="this.cargo?.hasError('maxlength')" class="animated fadeIn fast text-danger">
                    Este campo solo acepta solo 50 letras.
                  </div>
                </span>
              </div>


              <!-- Usuario -->
              <div class="form-group mt-4 d-flex flex-column gap-1">
                <label for="user">Usuario:<span class="text-danger">*</span></label>
                <input type="text" pInputText class="p-inputtext-sm" id="user" placeholder="Ingrese un usuario"
                  formControlName="user">
                <!-- Validacion -->
                <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                <span *ngIf="this.user?.invalid && (this.user?.dirty || this.user?.touched)" class="texto-tam">
                  <!-- Errores con expresiones regulares -->
                  <div *ngIf="this.user?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                    Este campo es requerido.
                  </div>
                  <div *ngIf="this.user?.hasError('maxlength')" class="animated fadeIn fast text-danger" id="">
                    Este campo solo acepta solo 30 letras.
                  </div>
                </span>
              </div>

              <!-- Contraseña -->
              <div class="form-group  d-flex flex-column gap-1">
                <label for="password">Contraseña:<span class="text-danger">*</span></label>
                <input type="text" pInputText class="p-inputtext-sm" id="password" placeholder="Ingrese una contraseña"
                  formControlName="password">
                <!-- Validacion -->
                <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                <span *ngIf="this.password?.invalid && (this.password?.dirty || this.password?.touched)"
                  class="texto-tam">
                  <!-- Errores con expresiones regulares -->
                  <div *ngIf="this.password?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                    Este campo es requerido.
                  </div>

                  <div *ngIf="this.password?.hasError('maxlength')" class="animated fadeIn fast text-danger" id="">
                    Este campo solo acepta solo 12 caracteres.
                  </div>
                  <!-- Nuestra validación personalizada -->
                  <div *ngIf="this.password?.hasError('invalidPassword')" class="animated fadeIn fast text-danger"
                    id="">
                    La contraseña debe contener al menos una letra mayúscula, una minúscula y un número, y tener una
                    longitud mínima de 6 caracteres.
                  </div>

                </span>
              </div>

              <!-- Select rol de usuario -->
              <div class="form-group mt-4 d-flex flex-column gap-1">

                <label for="roluserM">Seleccione un rol:<span class="text-danger">*</span></label>
                <!-- En tu template HTML -->
                <p-dropdown [style]="{ 'width': '100%' }" class="p-inputtext-sm" [options]="this.roles"
                  formControlName="roluser">
                </p-dropdown>

                <!-- Validacion -->
                <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                <span *ngIf="this.roluser?.invalid && (this.roluser?.dirty || this.roluser?.touched)" class="texto-tam">
                  <!-- Errores con expresiones regulares -->
                  <div *ngIf="this.roluser?.hasError('required')" class="animated fadeIn fast text-danger">
                    Este campo es requerido.
                  </div>
                </span>
              </div>

            </div>


          </div>

          <p class="text-right mt-1 mb-0">Los campos con ( <span class="text-danger">*</span> ) son obligatorios</p>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger waves-effect text-left text-upercase"
            data-dismiss="modal">Cancelar</button>
          <div *ngIf="this.btnSave; else notBtnSave">
            <button type="submit" class="ms-2 btn btn-primary waves-effect text-uppercase"
              [disabled]="this.formulario.invalid">
              Guardar
            </button>
          </div>

          <ng-template #notBtnSave>
            <button type="submit" class="ms-2 btn btn-primary waves-effect text-uppercase" [disabled]="this.notBtnSave">
              <span class="ms-2">Espere por favor</span>
            </button>
          </ng-template>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </form>
  <!-- /.modal-dialog -->
</div>
<!-- Fin Modal crear usuarios -->

<!-- Modal editar usuarios -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;"
  aria-hidden="true" id="myModal_editar_usuario">
  <form #formDirective="ngForm" [formGroup]="this.formularioModificar" class="ps-4 pt-4 pe-4 pb-0"
    (ngSubmit)="submitModificar()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-danger contenedor-header">
          <h5 class="modal-title text-white text-uppercase" id="myLargeModalLabel">Modificar datos de usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <!-- Seccion 1 -->
          <div class="row">

            <div class="col-12">

              <!-- Nombre completo -->
              <div class="form-group d-flex flex-column gap-1">
                <label for="nombresM">Nombre completo:<span class="text-danger">*</span></label>
                <input type="text" pInputText class="p-inputtext-sm" id="nombresM"
                  placeholder="Ingrese su nombre completo" formControlName="nombresM">
                <!-- Validacion -->
                <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                <span *ngIf="this.nombresM?.invalid && (this.nombresM?.dirty || this.nombresM?.touched)"
                  class="texto-tam">
                  <!-- Errores con expresiones regulares -->
                  <div *ngIf="this.nombresM?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                    Este campo es requerido.
                  </div>

                  <div *ngIf="this.nombresM?.hasError('maxlength')" class="animated fadeIn fast text-danger" id="">
                    Este campo solo acepta solo 70 letras.
                  </div>
                </span>
              </div>

              <!-- Nombre completo -->
              <div class="form-group d-flex flex-column gap-1">
                <label for="cargoM">Cargo:<span class="text-danger">*</span></label>
                <input type="text" pInputText class="p-inputtext-sm" id="cargoM" placeholder="Ingrese un cargo"
                  formControlName="cargoM">
                <!-- Validacion -->
                <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                <span *ngIf="this.cargoM?.invalid && (this.cargoM?.dirty || this.cargoM?.touched)" class="texto-tam">
                  <!-- Errores con expresiones regulares -->
                  <div *ngIf="this.cargoM?.hasError('required')" class="animated fadeIn fast text-danger">
                    Este campo es requerido.
                  </div>

                  <div *ngIf="this.cargoM?.hasError('maxlength')" class="animated fadeIn fast text-danger">
                    Este campo solo acepta solo 70 letras.
                  </div>
                </span>
              </div>


              <!-- Usuario -->
              <div *ngIf="this.usuario.sub === this.idServidorModificar" class="form-group  d-flex flex-column gap-1">
                <label for="userM">Usuario:<span class="text-danger">*</span></label>
                <input type="text" pInputText class="p-inputtext-sm" id="userM" placeholder="Ingrese un usuario"
                  formControlName="userM">
                <!-- Validacion -->
                <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                <span *ngIf="this.userM?.invalid && (this.userM?.dirty || this.userM?.touched)" class="texto-tam">
                  <!-- Errores con expresiones regulares -->
                  <div *ngIf="this.userM?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                    Este campo es requerido.
                  </div>
                  <div *ngIf="this.userM?.hasError('maxlength')" class="animated fadeIn fast text-danger" id="">
                    Este campo solo acepta solo 30 letras.
                  </div>
                </span>
              </div>

              <!-- Select rol de usuario -->
              <div class="form-group mt-4 d-flex flex-column gap-1">

                <label for="roluserM">Seleccione un rol:<span class="text-danger">*</span></label>
                <!-- En tu template HTML -->
                <p-dropdown [style]="{ 'width': '100%' }" class="p-inputtext-sm" [options]="this.roles"
                  formControlName="roluserM">
                </p-dropdown>

                <!-- Validacion -->
                <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                <span *ngIf="this.roluserM?.invalid && (this.roluserM?.dirty || this.roluserM?.touched)"
                  class="texto-tam">
                  <!-- Errores con expresiones regulares -->
                  <div *ngIf="this.roluserM?.hasError('required')" class="animated fadeIn fast text-danger">
                    Este campo es requerido.
                  </div>
                </span>
              </div>

              <!-- Select estado -->
              <div *ngIf="this.usuario.sub != this.idServidorModificar" class="form-group d-flex flex-column gap-1">

                <label for="estadoM">Seleccione un estado:<span class="text-danger">*</span></label>
                <!-- En tu template HTML -->
                <p-dropdown [style]="{ 'width': '100%' }" class="p-inputtext-sm" [options]="this.estados"
                  formControlName="estadoM">
                </p-dropdown>

                <!-- Validacion -->
                <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                <span *ngIf="this.estadoM?.invalid && (this.estadoM?.dirty || this.estadoM?.touched)" class="texto-tam">
                  <!-- Errores con expresiones regulares -->
                  <div *ngIf="this.estadoM?.hasError('required')" class="animated fadeIn fast text-danger">
                    Este campo es requerido.
                  </div>
                </span>
              </div>

            </div>

          </div>
          <p class="text-right mt-1 mb-0">Los campos con ( <span class="text-danger">*</span> ) son obligatorios</p>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Cancelar</button>
          <div *ngIf="this.btnSave; else notBtnSave" class="">
            <button type="submit" class="ms-2 btn btn-primary waves-effect"
              [disabled]="this.formularioModificar.invalid">
              Guardar
            </button>
          </div>

          <ng-template #notBtnSave>
            <button type="submit" class="ms-2 btn btn-primary waves-effect" [disabled]="this.notBtnSave">
              <span class="ms-2">Espere por favor</span>
            </button>
          </ng-template>
        </div>

        <!-- /.modal-content -->
      </div>
    </div>
  </form>
  <!-- /.modal-dialog -->
</div>
<!-- Fin modal editar usuarios -->
