.miagenda {
  border: 1px solid #cccaca66;
  border-top: 3px solid #02725a;

  border-radius: 5px 5px;
}

.miagenda--lista {
  border-top: 3px solid #175091;
}

/* Estilos para la agenda */

.table-header {
  background: rgb(32, 109, 197);
}

.table-header__encabezado th {
  font-size: 14px !important;
  padding: 14.5px;
}

.table-cuerpo__datos {
  font-size: 15px !important;
}

.table-cuerpo__datos td {
  color: rgba(0, 0, 0, .87);
}

.table-header__encabezado--color th {
  color: rgba(252, 250, 250, 0.87);
}

.etiqueta {
  padding: 2px 13px;
  border-radius: 5px;
}

.acciones-agenda {
  display: flex;
  gap: 1rem;
}


.table-responsive--local {
  display: block;
  width: 100%;
}

@media (min-width: 1400px) {
  .table-responsive--local {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}


@media (min-width: 1700px) {
  .table-responsive--local {
    overflow-x: hidden;
  }
}

.invitado--red {
  background-color: rgba(201, 25, 84, 0.055);
  border-left: 2px solid rgb(201, 25, 83);
  border-radius: 2rem;
}

.invitado--success {
  border-left: 2px solid rgb(10, 182, 96);
  border-radius: 2rem;
}

.compartir {
  color: rgba(133, 130, 130, 0.226);
}

.puntero {
  cursor: pointer;
}
