<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-cyan elevation-4">
  <!-- Brand Logo -->
  <a class="brand-link">
    <!-- <img src="/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" -->
    <img src="./../../../assets/dist/img/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">UGE-GADC</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <i class="far fa-user icono-user"></i>
      </div>
      <div class="info">
        <P href="#" class="d-block mb-0 text-white">{{ this.usuario.nombres }}</P>
      </div>
    </div>


    <!-- Sidebar Menu -->
    <nav class="mt-2">

      <!-- No se inicializa a tiempo  ya esta solucionado -->
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li *ngFor="let item of menuItems" class="nav-item">

          <a href="javascript:void()" class="nav-link">
            <i [class]="item.icono"></i>
            <p>
              {{ item.titulo }}
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>

          <ul class="nav nav-treeview">

            <li *ngFor="let subMenuItem of item.submenu" class="nav-item">

              <a href="javascript:void()" [routerLink]="subMenuItem.url" class="nav-link">
                <i [class]="subMenuItem.icono"></i>
                <p>{{ subMenuItem.titulo }}</p>
              </a>

            </li>

          </ul>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
